<!DOCTYPE html>
<html>
<head>

<title>Print Token</title>

<style>

body{

    font-family:Arial,Helvetica,sans-serif;

    width:300px;

    margin:auto;

    text-align:center;

}

.logo{

    font-size:24px;

    font-weight:bold;

    margin-top:20px;

}

h1{

    font-size:60px;

    margin:20px 0;

}

.line{

    border-top:1px dashed black;

    margin:15px 0;

}

.small{

    font-size:15px;

}

@media print{

body{

    width:80mm;

}

}

</style>

</head>

<body onload="printToken()">

<div class="logo">

GTM4Health

</div>

<div class="line"></div>

<div class="small">

TOKEN NUMBER

</div>

<h1>

{{ token }}

</h1>

<div class="line"></div>

<p>

Date:<br>

<script>

document.write(new Date().toLocaleDateString());

</script>

</p>

<p>

Time:<br>

<script>

document.write(new Date().toLocaleTimeString());

</script>

</p>

<div class="line"></div>

<p>

Please wait until your<br>

token is announced.

</p>

<div class="line"></div>

<p>

Thank You

</p>

<script>

function printToken(){

    window.print();

    setTimeout(function(){

        window.close();

    },500);

}

</script>

</body>

</html>